<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoyalUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="images/logo.svg" class="mr-2"
            alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-view-list"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown mr-1">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Modules
              </button>
              <div class="dropdown-menu navbar-dropdown " style="margin-top: -13px;"
                aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
              data-toggle="dropdown">
              <i class="ti-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="images/faces/face28.jpg" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-user text-primary"></i>
                Profile Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                General Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-mobile text-primary"></i>
                My Devicies
              </a>
              <a class="dropdown-item">
                <i class="ti-money text-primary"></i>
                Financial Account
              </a>
              <a class="dropdown-item">
                <i class="ti-support text-primary"></i>
                Support
              </a>
              <a class="dropdown-item">
                <i class="ti-shopping-cart text-primary"></i>
                Shop
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="ti-view-list"></span>
        </button>
      </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/mainpage">
              <i class="ti-pie-chart menu-icon"></i>
              <span class="menu-title">Mainpage</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-plus menu-icon"></i>
              <span class="menu-title">Add</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/adddevice">Device Add</a></li>
                <li class="nav-item"> <a class="nav-link" href="/addperson">Person Add</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-Tables" aria-expanded="false"
              aria-controls="ui-Tables">
              <i class="ti-layout-tab-window menu-icon"></i>
              <span class="menu-title">My Tables</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-Tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Setted Table 1</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Setted Table 2</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Setted Table 3</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-Widgets" aria-expanded="false"
              aria-controls="ui-Widgets">
              <i class="ti-widgetized menu-icon"></i>
              <span class="menu-title">Widgets</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-Widgets">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Setted Widget 1</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Setted Widget 2</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Setted Widget 3</a>
                </li>
              </ul>
            </div>
          </li>


        </ul>
      </nav>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper d-flex">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Personal Add Screen</h4>
                <form class="form-sample">
                  <p class="card-description">
                    Personal info
                  </p>


                  <div class="col-lg-8 d-flex">
                    <div class="col-lg-12">
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="validationTooltip01" class="col-sm-3 col-form-label">User ID</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="validationTooltip01" placeholder="User ID"
                                required />
                              <div class="invalid-feedback">
                                Please provide a valid User ID.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="validationCustom03" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="validationCustom03" placeholder="Name"
                                required />
                              <div class="valid-feedback">
                                Please provide a Name.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="validationTooltip01" class="col-sm-3 col-form-label">Staff Code</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="validationTooltip01" placeholder="Staff Code"
                                required />
                              <div class="invalid-feedback">
                                Please provide a valid User ID.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-6">
                              <select class="form-control">
                                <option> Male</option>
                                <option> Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Date of Birth</label>
                        <div class="col-sm-6">
                          <input class="form-control" placeholder="dd/mm/yyyy"/>
                        </div>
                      </div>
                    </div> -->
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Department</label>
                            <div class="col-sm-6">
                              <select class="form-control">
                                <option>Dept1</option>
                                <option>Dept2</option>
                                <option>Dept3</option>
                                <option>Dept4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <!-- <label class="col-sm-3 col-form-label"></label> -->
                            <div class="col-sm-6">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios"
                                    id="membershipRadios1" value="" checked>
                                  Whether to participate in attendance
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-5">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios"
                                    id="membershipRadios2" value="option2">
                                  Senior Mode
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <p class="card-description">
                    Address
                    </p> -->
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Card No</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Punch Pwd</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mobile No</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Entry Day</label>
                            <div class="col-sm-6">
                              <input class="form-control" placeholder="dd/mm/yyyy" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Entry Status</label>
                            <div class="col-sm-6">
                              <select class="form-control">
                                <option>Status1</option>
                                <option>Status2</option>
                                <option>Status3</option>
                                <option>Status4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ID NO</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Positsion</label>
                            <div class="col-sm-6">
                              <select class="form-control">
                                <option>Positsion1</option>
                                <option>Positsion2</option>
                                <option>Positsion3</option>
                                <option>Positsion4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Staff Type</label>
                            <div class="col-sm-6">
                              <select class="form-control">
                                <option>Type1</option>
                                <option>Type2</option>
                                <option>Type3</option>
                                <option>Type4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Degree</label>
                            <div class="col-sm-6">
                              <select class="form-control">
                                <option>Degree1</option>
                                <option>Degree2</option>
                                <option>Degree3</option>
                                <option>Degree4</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10">
                          <div class="form-group row d-flex">
                            <label class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10">
                          <div class="form-group row d-flex">
                            <label class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>

                      <button class="btn btn-outline-danger" style="margin-left: 66%;" type="submit">Cancel</button>
                      <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                  
                  
                  <div class="col-lg-6">
                    <div class="card">
                      <img src="images/faces/face1.jpg" class="card-img-top" alt="...">
                      <div class="card-body align-self-center">
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" id="customFile" class="custom-file-input form-control-sm">
                            <label class="custom-file-label col-form-label-sm" for="custmFile">Choose Photo</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                </form>

              </div>

            </div>

          </div>

        </div>

        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a
                href="https://barfas.com/" target="_blank">BARFAS</a>. Tüm hakkı saklıdır.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">PassBy <i
                class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>

      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->

  <!-- partial -->
  </div>
  <!-- main-panel ends -->
  </div>


  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <script src="js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>