<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">


    <!-- endinject -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

    <link rel="shortcut icon" href="images/favicon.png" />

    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="images/logo.svg" class="mr-2"
                        alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg"
                        alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="ti-view-list"></span>
                </button>
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                <span class="input-group-text" id="search">
                                    <i class="ti-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                                aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown mr-1">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Modules
                            </button>
                            <div class="dropdown-menu navbar-dropdown " style="margin-top: -13px;"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                            data-toggle="dropdown">
                            <i class="ti-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-success">
                                        <i class="ti-info-alt mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-warning">
                                        <i class="ti-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-info">
                                        <i class="ti-user mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="images/faces/face28.jpg" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-user text-primary"></i>
                                Profile Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-settings text-primary"></i>
                                General Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-mobile text-primary"></i>
                                My Devicies
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-money text-primary"></i>
                                Financial Account
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-support text-primary"></i>
                                Support
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-shopping-cart text-primary"></i>
                                Shop
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="ti-view-list"></span>
                </button>
            </div>
        </nav>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav" id="sidebarItems">
                    <li class="nav-item active border-bottom">
                        <a class="nav-link" href="#general">
                            <i class="ti-panel menu-icon"></i>
                            <span class="menu-title">General</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">
                            <i class="ti-user menu-icon"></i>
                            <span class="menu-title">Profile Settings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ti-lock menu-icon"></i>
                            <span class="menu-title">Security and Login</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom" href="#">
                            <i class="ti-info menu-icon"></i>
                            <span class="menu-title">Account Information</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ti-id-badge menu-icon"></i>
                            <span class="menu-title">Employee</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ti-mobile menu-icon"></i>
                            <span class="menu-title">Device</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-bottom" href="#">
                            <i class="ti-home menu-icon"></i>
                            <span class="menu-title">Department</span>
                        </a>
                    </li>
                    <li class="nav-item border-bottom">
                        <a class="nav-link" href="#">
                            <i class="ti-credit-card menu-icon"></i>
                            <span class="menu-title">Payment Methods</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#integration-log">
                            <i class="ti-files menu-icon"></i>
                            <span class="menu-title">Integration Logs</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link border-bottom" href="#">
                            <i class="ti-bell menu-icon"></i>
                            <span class="menu-title">Notifications</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ti-ticket menu-icon"></i>
                            <span class="menu-title">Tickets</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="ti-support
                            menu-icon"></i>
                            <span class="menu-title">Support</span>
                        </a>
                    </li>
                   
                   


                </ul>
            </nav>


            <div class="main-panel">
                
                <div class="content-wrapper">
                    
                    <div class="row">
                        
                        <!-- Table -->
                        <div class="col-lg-12 stretch-card">

                            <div class="card">
                                <div class="wrapper d-flex align-items-stretch">
                                   
                                <div class="card-body">

                           
                                   
                    </div>
                  
                </div>
             
        
                
            </div>
            <span class="d-flex justify-content-end " style="margin-left : -260px;">
                <nav id="sidebar-right"  class="order-last-sidebar border active">
                    <div class="custom-menu">
                        <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul id="nav-right" class="nav">
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-sm-between" href="#">
                            <i class="ti-pie-chart menu-icon"></i>
                            <span class="menu-title" style="flex: auto;">Suggested Widgets</span>
                            <div class="form-check d-flex justify-content-end">
                                <label class="form-check-label justify-content-end">
                                  <input type="checkbox" class="form-check-input" checked>
                                </label>
                              </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-sm-between" href="#">
                            <i class="ti-pie-chart menu-icon"></i>
                            <span class="menu-title" style="flex: auto;">Personal Tracking </span>
                            <div class="form-check d-flex justify-content-end">
                                <label class="form-check-label justify-content-end">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-sm-between" href="#">
                            <i class="ti-pie-chart menu-icon"></i>
                            <span class="menu-title" style="flex: auto;">Student Tracking </span>
                            <div class="form-check d-flex justify-content-end">
                                <label class="form-check-label justify-content-end">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-sm-between" href="#">
                            <i class="ti-pie-chart menu-icon"></i>
                            <span class="menu-title" style="flex: auto;">Car Park Management </span>
                            <div class="form-check d-flex justify-content-end">
                                <label class="form-check-label justify-content-end">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex justify-content-sm-between" href="#">
                            <i class="ti-pie-chart menu-icon"></i>
                            <span class="menu-title" style="flex: auto;">Sport Center Tracking </span>
                            <div class="form-check d-flex justify-content-end">
                                <label class="form-check-label justify-content-end">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                        </a>
                    </li>


                </ul>
            </nav>
            
            </nav></span>


           </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021
                        <a href="https://barfas.com/" target="_blank">BARFAS</a>. Tüm hakkı saklıdır.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">PassBy <i
                            class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
        </div>


    </div>


    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->

    <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>


    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->







    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Table Template JS  -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>

    <script src="js/main.js"></script>

    <!-- Table Template JS  -->

    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>

</html>